/* --- Media Queries --- */
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
	.content_wrap .hdr_block .lst_data > li,
	.gnral_modal .hdr_block .lst_data > li,
	.content_wrap .accordion_block .lst_button > li,
	.content_wrap .accordion_block .lst_data > li{ text-align:center; padding: 0 12px 0 0; font-size:17px}
	
	.content_wrap .hdr_block .lst_data > li:after,
	.gnral_modal .hdr_block .lst_data > li:after,
	.content_wrap .accordion_block .lst_data > li:after{ display:none}
	
	.content_wrap .accordion_block .lst_button .nav-item{ width:48%; margin-bottom:5px; white-space:nowrap; margin:0 auto 5px; text-align:center}
	.content_wrap .accordion_block .lst_button .btn_wizard,
	.content_wrap .accordion_block .lst_button .pagination_block{ margin:0 auto; width:100%; text-align:center;}
	
	.carousel .carousel-control{ padding:5px 12px}
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
	.content_wrap .history_block .hdr_item{ display:block !important;}
	.content_wrap .history_block .hdr_item > li{ text-align:left}
	.content_wrap .history_block .hdr_item > li:after{ display:none}
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
	.header_wrap{ padding:10px 5px; margin:0 auto 10px;}
	.header_wrap .container{ display:block; }
	.header_wrap .search_block { margin-bottom:15px}
	.header_wrap .search_block .input-group-prepend .dropdown-toggle:after{ margin-left: 5px}
	.header_wrap .search_block .input-group-prepend{ min-width:100px}
	.header_wrap .search_block .form-control{ min-width:125px}
	.header_wrap .user_block{ padding:0 10px}
	
	.content_wrap{ padding:0}
	.content_wrap .container{ padding:20px 10px 10px; margin:0 10px 10px}
	
	.content_wrap .hdr_block h1, .content_wrap .hdr_block h2,
	.gnral_modal .hdr_block h2, .gnral_modal .hdr_block h3{ font-size:22px;}
	
	.content_wrap .hdr_block .lst_data,
	.gnral_modal .hdr_block .lst_data{ display:block!important;}
	
	.content_wrap .hdr_block .lst_data > li,
	.gnral_modal .hdr_block .lst_data > li,
	.content_wrap .accordion_block .lst_data li, 
	.content_wrap .accordion_block .lst_button > li{ margin-bottom:5px; font-size:17px; text-align:left}
	
	.content_wrap .hdr_block .lst_data > li:after,
	.gnral_modal .hdr_block .lst_data > li:after,
	.content_wrap .accordion_block .lst_data > li:after, 
	.content_wrap .accordion_block .lst_button > li:after{ display:none}
	
	.content_wrap .hdr_block .lst_user{ align-items:flex-start !important;}
	.content_wrap .hdr_block .lst_user .img_user{ margin: 58px 10px 5px 0;}
	.content_wrap .hdr_block .btn{ width:100%}
	
	.content_wrap .gnral_box{ padding: 20px 10px 20px}
	.content_wrap .gnral_wrap,
	.gnral_modal .gnral_box{ padding: 20px 0 5px}
		
	.content_wrap .recipient_block .input-group,
	.gnral_modal .gnral_box .input-group{ display:block}
	
	.content_wrap .gnral_box label, 
	.content_wrap .gnral_box h3,
	.content_wrap .recipient_block label, 
	.content_wrap .recipient_block h3,
	.gnral_modal .gnral_box label, 
	.gnral_modal .gnral_box h3{ margin:0; padding:0; font-size:22px;}
	
	.content_wrap .recipient_block .form-control,
	.gnral_modal .gnral_box .form-control{ width:100%; font-size:17px}
	
	.content_wrap .recipient_block .gnral_content{ padding:0}
	.content_wrap .recipient_block .bootstrap-tagsinput{ min-width:inherit; width:100%;}
	
	.content_wrap .editor_block,
	.content_wrap .list-group,
	.content_wrap .attachment_block .uploader_wrap{ padding: 0}
	.content_wrap .editor_block .form-control{ font-size:22px;}
	
	.content_wrap .list-group h2, 
	.content_wrap .list-group h3{ font-size: 25px;}
	.content_wrap .list-group .list-group-item > p, 
	.content_wrap .list-group .list-group-item .grph_primary,
	.content_wrap .list-group .list-group-item blockquote p{ font-size:17px}
	
	.content_wrap .attachment_block label,
	.content_wrap .attachment_block h3{ margin:0}
	.content_wrap .attachment_block .small{ margin:0; font-size:14px;}
	
	.content_wrap .alert_block{  padding: 0; font-size:17px}
	.content_wrap .attachment_block .btn{ padding:5px 5px 5px 8px; border-radius: 0; font-size:14px}
	
	
	.content_wrap .history_block .ghdr_line h3, 
	.content_wrap .history_block .ghdr_line h4{ padding:0 10px 0 100px; font-size:17px;}
	.content_wrap .history_block .ghdr_line .badge{ width:40px; height:40px; padding: 12px 0 0;}
	
	.content_wrap .history_block .gnral_content{ padding:0}
	.content_wrap .history_block .hdr_item{ font-size:14px;}
	.content_wrap .history_block .small{ font-size:14px;}
	
		
	.content_wrap .workflowdtail_block .form-control{ max-width:100%}
	.content_wrap .workflowdtail_block .input-group > *,
	.content_wrap .workflowdtail_block .lst_option .form-check,
	.gnral_modal .gnral_box .lst_option .form-check{ width:100%; max-width:100%}
	
	.content_wrap .workflowdtail_block .lst_option, 
	.content_wrap .workflowdtail_block .lst_option li,
	.gnral_modal .gnral_box .lst_option, 
	.gnral_modal .gnral_box .lst_option li,
	.content_wrap .accordion_block .lst_data,
	.content_wrap .accordion_block .lst_data li,
	.content_wrap .accordion_block .lst_button,
	.content_wrap .accordion_block .lst_button li{ display:block !important; width:100%}
	
	
	.gnral_modal .gnral_box .allblock_wraper,
	.content_wrap .accordion_block .lst_button li{ padding:0}
	
	.content_wrap .accordion_block h2, 
	.content_wrap .accordion_block h3, 
	.content_wrap .accordion_block .lst_data, 
	.content_wrap .accordion_block .lst_button{ padding:10px}
	.content_wrap .accordion_block .card-header button{ font-size:22px}
		
	.content_wrap .xtneed_block .gnral_content label, 
	.content_wrap .xtneed_block .gnral_content legend, 
	.content_wrap .xtneed_block .gnral_content h3{ font-size:17px}
}

/* Extra small devices (portrait phones, less than 576px) */