.pg_revamp .rwd_menu{margin: 10px auto 0 !important;}

.pg_revamp .rwd_menu .nav_other{display:flex;align-items: baseline;padding: 5px 10px 10px;border: 1px solid #cccccc;border-width: 1px 0 0;box-shadow: 0 1px 1px #cccccc;position: relative;z-index: 100;}
.pg_revamp .rwd_menu .nav_other > li > a{ color:#303030; text-shadow:none; padding:15px 15px 0 0; text-decoration:none}
.pg_revamp .rwd_menu .nav_other > li:last-child > a{ padding:10px 0;}
.pg_revamp .rwd_menu .nav_other > li{ padding:0; vertical-align:middle}

.pg_revamp .rwd_menu .nav_other{ margin:-15px 0 0}
.pg_revamp .rwd_menu .nav_other > li > a{font-weight:normal;font-size: 15px;line-height:100%;color:#303030;}
.pg_revamp .rwd_menu .nav_other > li > a .fa{font-size: 18px;}

.pg_revamp .rwd_menu #language, 
.pg_revamp .rwd_menu #currency{ position:relative}
.pg_revamp .rwd_menu #language{ padding:15px 15px 0 0; border:none; line-height:100%}
.pg_revamp .rwd_menu #language .btn-group div{ font-size:17px; line-height:100%}


.pg_revamp .rwd_menu #searchBlock{ padding:0; margin:0; position:relative}
.pg_revamp .rwd_menu #searchBlock .btn_search{padding:5px;margin:0;background:none;border:1px solid #e5e5e5;box-shadow:none;border-radius:0;width: 35px;height: 35px;position:relative;vertical-align:middle;text-align:center;}
.pg_revamp .rwd_menu #searchBlock .button-search{ background:none; color:#303030; border-radius:0; padding:0; margin:0}

.pg_revamp .rwd_menu #searchBlock .btn_search .fa,
.pg_revamp .rwd_menu #searchBlock .button-search .fa{font-size: 18px;color:#303030!important;}
.pg_revamp .rwd_menu #searchBlock .button-search i::before{ color:#303030!important}
.pg_revamp .rwd_menu #searchBlock .journal-search{ background:#ffffff; border:1px solid #e5e5e5; width:100%; padding:0}

.pg_revamp .rwd_menu #searchBlock #collapseSearch{ position:absolute; top:50px; right:0; border-radius:0;}
.pg_revamp .rwd_menu #searchBlock #collapseSearch .form-control{  border-radius:0; min-width:220px!important;}

.pg_revamp .rwd_menu .nav_other > li:last-child { margin: 0 0 0 auto;}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.pg_revamp .rwd_menu{ display:none}
}