/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
	margin-top: 0px !important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
	position: relative;
	padding-top: 0;
	right: 0;
}
#page-content.slide-active {
	padding-top: 0
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
	cursor: pointer;
	line-height: 0;
	float: left;
	margin: 0 auto;
	border: 0;
	padding: 0;
	display: none;
	height: 40px;
	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-ms-transition: transform 0.5s;
	-o-transition: transform 0.5s;
	transition: transform 0.5s;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
	width: 100%;
	display: block;
	height: 5px;
	margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar{
}
.navbar-header {
	position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
	position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
.menu_open, body {
	overflow-x: hidden;
}
[role="banner"].sticky {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
.menu_open [role="banner"].sticky {
	left: 315px !important;
	-webkit-transform: translateX(-0);
	-moz-transform: translateX(-0);
	-ms-transform: translateX(-0);
	-o-transform: translateX(-0);
	transform: translateX(-0);
}
.menu_open [data-slideable], .menu_open #slidemenu {
	-webkit-transform: translateX(315px);
	-moz-transform: translateX(315px);
	-ms-transform: translateX(315px);
	-o-transform: translateX(315px);
	transform: translateX(315px);
}
 [data-slideable], #slidemenu {
 -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
 -webkit-backface-visibility: hidden;
 -moz-transition: -moz-transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
 -moz-backface-visibility: hidden;
 -ms-transition: -ms-transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
 -ms-backface-visibility: hidden;
 -o-transition: -o-transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
 -o-backface-visibility: hidden;
 transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
 backface-visibility: hidden;
}
 [data-slideable] {
 -moz-backface-visibility: visible;
}
#slide-nav .navbar-header {
	margin: 0 auto;
	padding: 0 5px 0 0;
}
#slide-nav .navbar.slide-active{
	position: absolute;
	width: 50%;
	top: -1px;
	z-index: 1000;
}
#slidemenu {
	position: fixed;
	left: -315px;
	width: 315px;
	min-width: 0;
	padding-right: 0;
	z-index: 9999/*1050*/;
	top: 0;
	margin: 0; padding:0;
	bottom: 0;
	display: block;
	text-align: right;
	overflow-y: scroll;
	font-size:15px;
	background:rgba(0, 0, 0, 0.9);
}
#slidemenu a{ color:#fcfcfc}
#slidemenu::-webkit-scrollbar {
width: 0 !important;
}
#slidemenu .navbar-nav {
	min-width: 0;
	width: 100%;
	max-width: 315px;
	margin: 0;
}
#slidemenu .navbar-nav .dropdown-menu li a {
	min-width: 0;
	width: 50%;
	white-space: normal;
}
#slide-nav{
	border-top: 0; display:inline-block; white-space:nowrap;
}
#slide-nav.navbar-inverse #slidemenu{
}
/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
#navbar-height-col {
	position: fixed;
	top: 0;
	height: 100%;
	width: 315px;
	left: -315px;
	display: none
}
#slide-nav.navbar-inverse #navbar-height-col {
	z-index: 1;
	border: 0;
}
#slide-nav .navbar-form{
	width: 100%;
	margin: 8px 0;
	text-align: center;
	overflow: hidden;
}
#slide-nav .navbar-form .form-control{
	text-align: center
}
#slide-nav .navbar-form .btn {
	width: 100%
}
#slidemenu .navbar-nav > li {
	display: block;
	float: none;
	clear: both;
	padding: 0;
	margin: 0
}
#slidemenu .navbar-nav > li.trendy,  #slidemenu ul > li.trendy > a,  #slidemenu ul > li.trendy > h2 {}


/* Menu Theme Classes */
#slidemenu .navbar-nav > li, 
#slidemenu .navbar-nav > li:last-child,
#slidemenu .navbar-nav .lstmenu > li:last-child{ padding: 0;}

#slidemenu .navbar-nav > li > a,
#slidemenu .navbar-nav .lstmenu > li > a{ display:block; padding:10px 17px 10px 10px; background:none; color:#fcfcfc; outline:none!important}
#slidemenu .navbar-nav .lstmenu > li:hover a{ background-color:rgba(164, 126, 172, 0.5); color:#fcfcfc}

#slidemenu .navbar-nav > li.active a,
#slidemenu .navbar-nav .lstmenu > li.active a{ background-color:rgba(83, 51, 89, 0.8); color:#fcfcfc}

#slidemenu .slidemenu_logo{ text-transform:uppercase; padding:40px 17px 15px 10px!important; color:#fcfcfc}
#slidemenu .slidemenu_logo span,
#slidemenu .slidemenu_logo i,
#slidemenu .slidemenu_logo > a{ font-style:normal; display:inline-block}

#slidemenu .slidemenu_logo span{ padding:10px 0; font-size:24px;}
#slidemenu .slidemenu_logo > a{ float:left; padding:10px !important}
#slidemenu .slidemenu_logo > a .fa{ font-size:25px;
-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
-webkit-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);}
/* /Menu Theme Classes */
#slidemenu .lstmain_links{margin: 0 auto 15px;padding: 0 0 15px;border-bottom: 1px solid rgb(203, 153, 196, 0.3);box-shadow: 0 1px rgba(83, 51, 89,0.7);}
#slidemenu .lstmain_links a{padding: 10px 17px 10px 10px;display: block;}
#slidemenu .lstmain_links a i{ display:inline-block; margin:-2px 0 0 5px; }
#slidemenu .lstmain_links .journal-search{overflow: hidden;padding: 10px 0 10px 0;max-width: 88%;margin: 0 auto;}

@media (max-width: 768px) {
.menu_open [role="banner"].sticky {
	left: 280px !important;
}
.menu_open [data-slideable], .menu_open #slidemenu {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	-ms-transform: translateX(280px);
	-o-transform: translateX(280px);
	transform: translateX(280px);
}

#slidemenu {
	left: -280px;
	width: 280px;
}
#slidemenu .navbar-nav {
	max-width: 280px;
}
#navbar-height-col {
	width: 280px;
	left: -280px;
}

/* /Menu Theme Classes */
#slide-nav .navbar-toggle{ height:inherit; display:block; width:100%}

#slide-nav .navbar-toggle{ font-size:25px; margin:10px auto}
/* /Menu Theme Classes */
}