@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=a2ea2a35-ef25-4798-8813-6bdf75fc7eda");
@font-face{
font-family:"HelveticaNeueLTW20-Ligh";
src:url("Fonts/ab7f002d-5f09-4a65-b7ad-9f01ec5bfaf0.eot?#iefix");
src:url("Fonts/ab7f002d-5f09-4a65-b7ad-9f01ec5bfaf0.eot?#iefix") format("eot"),url("Fonts/b8ee7e47-48e4-4b5b-8a74-cf02708fb54a.woff") format("woff"),url("Fonts/074fa346-a8c5-4331-9d93-7a06123af067.ttf") format("truetype"),url("Fonts/e953f49c-15a9-4394-97dd-a3f230e12e0b.svg#e953f49c-15a9-4394-97dd-a3f230e12e0b") format("svg");
}
@font-face{
font-family:"HelveticaNeueLTW20-Roma";
src:url("Fonts/13e78e12-2750-44d8-bc69-b572c5b3168a.eot?#iefix");
src:url("Fonts/13e78e12-2750-44d8-bc69-b572c5b3168a.eot?#iefix") format("eot"),url("Fonts/00c272cd-cca1-4737-be37-73168f7c7f27.woff") format("woff"),url("Fonts/9669fcdb-a6a6-4b2b-8214-0ae85ba732c7.ttf") format("truetype"),url("Fonts/88820c1d-bb1c-4797-ae48-3d3a36fb5c10.svg#88820c1d-bb1c-4797-ae48-3d3a36fb5c10") format("svg");
}
@font-face{
font-family:"HelveticaNeueLTW20-Bold";
src:url("Fonts/045ca244-a42a-4d4f-bc08-b0f4f54df3cc.eot?#iefix");
src:url("Fonts/045ca244-a42a-4d4f-bc08-b0f4f54df3cc.eot?#iefix") format("eot"),url("Fonts/929f7332-2da4-4512-8f53-a056ed366167.woff") format("woff"),url("Fonts/a9fc3a1c-4466-47f7-b408-5bcf52129409.ttf") format("truetype"),url("Fonts/27d196fc-66d6-4630-a928-d8127601c243.svg#27d196fc-66d6-4630-a928-d8127601c243") format("svg");
}

.reverse_hdr h2.title{ padding:0; margin:0;}
.reverse_hdr .sml_note{ margin:5px 0; display:block; clear:both; font-size:10px; color:#9c9c9c}
.reverse_hdr .reverse_img{ display:inline-block; padding:0; margin:15px 0 0; width:648px; height:196px; background:url(reverse_headerImg.png) right 0 no-repeat;}

.reverse_form{height:100%; width:99%; padding:0; margin:-10px 0 0; clear:both; overflow:hidden;}
.reverse_form .rvse_title{ position:relative; display:inline-block; clear:both; width:100% /*87.4%*/; min-height:30px; padding:0; margin:0 0 15px; 
border-bottom:1px solid #d6d6d6;}
.reverse_form .rvse_title h4{ display:inline-block; padding:0 0 0 10px; margin:0; top:12px; position:relative; 
font:bold 16px/100% "HelveticaNeueLTW20-Roma", Arial, Helvetica, sans-serif; background: url(body-bg.png) 0 0 repeat;}
.reverse_form .rvse_title .fading{ padding:0; margin:0; width:35px; float:left; top:15px; position:relative;}

.reverse_form .rvse_dtail{width:100%; height:100%; padding:0; margin:0s; clear:both; overflow:hidden;}
.reverse_form .rvse_dtail ul{ display:inline-block; padding:0; margin:0; clear:both; overflow:hidden; list-style:none;}
.reverse_form .rvse_dtail ul li{display:inline-block; padding:0; margin:0; clear:both; line-height:120%;}
.reverse_form .rvse_dtail label{ padding:0; margin:0 0 0 10px; display:inline-block;}
.reverse_form .rvse_dtail .rvse_stlable{ min-width:145px; margin:0; padding-right:10px}
.reverse_form .rvse_dtail .rvse_spc{ margin-left:18px;}
.reverse_form .rvse_dtail .rvse_check{ margin-top:5px; margin-right:5px;}
.reverse_form .rvse_dtail input[type="text"], .reverse_form .rvse_dtail textarea, .reverse_form .rvse_dtail input[type="email"]{ color:#292626; color:#9c9c9c\9}

.reverse_form .rvse_dtail .unchecked, .reverse_form .rvse_dtail .checked{ padding:4px 25px 5px 0; margin:0}

.reverse_form .rvse_btn{ display:block; text-align:left; padding:5px 0; margin:0;}
.reverse_form .rvse_btn a.btn_next, .reverse_popup a.btn_aprve{ text-align:center; font:bold 15px/100% "HelveticaNeueLTW20-Roma", Arial, Helvetica, sans-serif; display:inline-block; padding:5px 30px 10px; margin:0; 
color:#fcfcfc; border:1px solid #2e8fb9;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

background:#36baed url(btn_grd.gif) 0 0 repeat-x; /* Old browsers */
}


.reverse_left .post-wrapper .post-inner .post-info{ font-size:14px; line-height:150%; color:#292626}
.reverse_left .post-wrapper .post-inner .post-info li:before{ content:". "; margin-right:-8px;}


/* Popup Window Holder */
.shadow_mask{position:fixed; width:100%; height:100%; top:0px; right:0px; display:block; z-index:1000; background-color: black; 
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
filter: alpha(opacity=40);
-moz-opacity:0.4;
-khtml-opacity: 0.4;
opacity:0.4;
}
.hold_boxcompose{right:440px; top:125px; visibility:visible; position:absolute; z-index:1005;}
.reverse_popup{ padding:10px; width:367px; font-size:14px; background:#f7f7f7; color:#292626}
.reverse_popup h2{ display:inline-block; font-size:20px; line-height:100%; padding-bottom:10px; font-weight:bold}
.reverse_popup .reverse_inpt p{ font-weight:bold; line-height:140%}
.reverse_popup .reverse_grd{ display:inline-block; width:100%; text-align:left; padding:0; margin:15px 0 0;}
.reverse_popup a.btn_aprve{ background:#36baed url(btn_grd.gif) 0 0 repeat-x; padding:5px 10px 10px;}