/* Other Class */
.pg_revamp{ background:#533359; margin:10px auto 0}
.pg_revamp a{ display:inline-block}
.pg_revamp ul, 
.pg_revamp li{ list-style:none; padding:0; margin:0}
.pg_revamp .rwan_color{ color:#ba8fc2}
.pg_revamp .icn{ display:inline-block; padding:0; margin:0; vertical-align:middle; background:url(../images/sprite_images.png) 0 0 no-repeat;}

.pg_revamp #logo,
.pg_revamp #logo img{ margin:0 auto; text-align:center; position:static; transform:none}
.pg_revamp #logo a{ display:inline-block; width:auto}

.pg_revamp .container,
.pg_revamp #container{ width:100%; padding:0; margin:0 auto; position:relative;}
.pg_revamp > .container{ z-index:100; overflow:visible}
.pg_revamp > .container > *{ background:#ffffff; padding:0; max-width:1250px; margin:0 auto !important}


.pg_revamp > .container > *.header-notice{ margin:0 auto 25px !important; max-width:inherit}
.pg_revamp > .container > *.header-notice > div{ padding:0 20px}
.pg_revamp > .container > *.wrap_footer{ padding:0; max-width:inherit}

.pg_revamp #container{ max-width:1250px;}


.pg_revamp .wrap_header{ background:none; border:none; padding:0; margin:0 auto; color:#303030; position:relative; max-width:100%}
.pg_revamp .wrap_header:before{ content:''; display:block; background: url(../images/grd_header.png) center 0 no-repeat; background-size:cover; padding:0; margin:0 auto; width:100%; max-width:1577px; height:265px; position:absolute; z-index:10; left:0; right:0; top:0}
.pg_revamp .wrap_header .container{ padding:270px 5px 0; position:relative; z-index:5; max-width:1250px; margin:0 auto;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2d2d2+0,ffffff+80,ffffff+80,ffffff+100 */
background: rgb(210,210,210); /* Old browsers */
background: -moz-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(210,210,210,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(210,210,210,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d2d2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
.pg_revamp .wrap_header a{ color:#303030}


.pg_revamp .journal-menu{ background:none; color:#303030; border:none; border-radius:0; font-weight:bold; font-size:20px; height:100%; border-bottom:1px solid #e5e5e5; 
margin:0 0 25px; padding:0 20px;}
.pg_revamp .journal-menu > ul{ width:100%; display:inline-block}
.pg_revamp .journal-menu > ul > li{ float:left}
.pg_revamp .journal-menu > ul > li.pull-right{ float:right}

.pg_revamp .journal-menu .super-menu{ display:block}
.pg_revamp .journal-menu .super-menu > li{ background:none!important}
.pg_revamp .journal-menu .super-menu > li > a{ color:#303030; font:bold 18px/100% "Helvetica Neue",Helvetica,Arial,sans-serif; padding:0 15px 0 0;} 

.pg_revamp .journal-menu .nav_other{ display:flex}
.pg_revamp .journal-menu .nav_other > li > a{ color:#303030; text-shadow:none; padding:15px 15px 0 0; text-decoration:none}
.pg_revamp .journal-menu .nav_other > li:last-child > a{ padding:10px 0;}
.pg_revamp .journal-menu .nav_other > li{ padding:0; vertical-align:middle}

.pg_revamp .journal-menu .nav_other{ margin:-15px 0 0}
.pg_revamp .journal-menu .nav_other > li > a{ font-weight:normal; font-size:17px; line-height:100%; color:#303030}
.pg_revamp .journal-menu .nav_other > li > a .fa{ font-size:22px;}

.pg_revamp .journal-menu .dropdown{ position:relative}
.pg_revamp .journal-menu .dropdown:hover .dropdown-menu { display: block; }

.pg_revamp .journal-menu #searchBlock{ padding:0; margin:0; position:relative}
.pg_revamp .journal-menu #searchBlock .btn_search{ padding:5px; margin:0; background:none; border:1px solid #e5e5e5; box-shadow:none; border-radius:0; width:52px; height:52px; 
position:relative; vertical-align:middle; text-align:center}
.pg_revamp .journal-menu #searchBlock .button-search{ background:none; color:#303030; border-radius:0; padding:0; margin:0}

.pg_revamp .journal-menu #searchBlock .btn_search .fa,
.pg_revamp .journal-menu #searchBlock .button-search .fa{font-size:22px; color:#303030!important}
.pg_revamp .journal-menu #searchBlock .button-search i::before{ color:#303030!important}
.pg_revamp .journal-menu #searchBlock .journal-search{ background:#ffffff; border:1px solid #e5e5e5; width:100%; padding:0}

.pg_revamp .journal-menu #searchBlock #collapseSearch{ position:absolute; top:50px; right:0; border-radius:0;}
.pg_revamp .journal-menu #searchBlock #collapseSearch .form-control{  border-radius:0; min-width:220px!important;}



.pg_revamp .wrap_footer{ background:none; border:none; padding:0; margin:0 auto; color:#fcfcfc !important; position:relative}
.pg_revamp .wrap_footer:after{ content:''; display:block; background: url(../images/grd_footer.png) center 0 no-repeat; background-size:cover; padding:0; margin:0 auto; width:100%; 
max-width:1335px; height:291px; position:absolute; z-index:10; left:0; right:0; bottom:80px}

.pg_revamp .wrap_footer a{ color:#fcfcfc}
.pg_revamp .wrap_footer h3, 
.pg_revamp .wrap_footer h5{ text-transform:uppercase; font-size:14px; color:#fcfcfc; border:none}

.pg_revamp .wrap_footer .container,
.pg_revamp .wrap_footer #footer{ background:#b189b8; padding:50px 50px 300px; position:relative; z-index:5; max-width:1250px;}
.pg_revamp .wrap_footer .bottom-footer > div{ max-width:1250px;}

.pg_revamp .wrap_footer .column-menu-wrap > ul li,
.pg_revamp .wrap_footer .columns,
.pg_revamp .wrap_footer .column-menu-wrap > ul li i,
.pg_revamp .wrap_footer .column-text-wrap,
.pg_revamp .wrap_footer .journal-newsletter.text-top .newsletter-text{ color:#fcfcfc !important}

.pg_revamp .wrap_footer .contacts{ padding:10px 0; background:none}
.pg_revamp .wrap_footer .contacts-left{ display:block}

.pg_revamp .wrap_footer .btn{ padding:0; margin:0; border:0; border-radius:0; box-shadow:none}
.pg_revamp .wrap_footer .icn{ width:50px; height:48px; background-size:cover}

.pg_revamp .icn.icn_facebook{ background-position:0 0}
.pg_revamp .icn.icn_twitter{ background-position:-62px 0}
.pg_revamp .icn.icn_snapchat{ background-position:-126px 0}
.pg_revamp .icn.icn_instagram{ background-position:-188px 0}


/* --- Media Queries --- */
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
	.pg_revamp .wrap_header,
	.pg_revamp .wrap_footer{ padding:0}
	
	.pg_revamp .wrap_header:before{ background-size:100%; top:0;}
	.pg_revamp .wrap_footer:after{ background-size:100%; max-height:225px}
	
	.pg_revamp .wrap_header .container{ padding:150px 10px 0}
	.pg_revamp .wrap_footer .container{ position:relative; padding:10px 10px 170px}
	
	.pg_revamp .wrap_footer .lst_social > li{ display:inline-block; margin:0 15px 0 0; padding:0}
	.pg_revamp .wrap_footer .lst_social > li:last-child{ margin:0}
	.pg_revamp .wrap_footer .lst_social .list-inline > li{ padding:0}
	
	.pg_revamp .journal-menu{ font-size:18px;}	
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
	
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.mobile-menu-on-tablet .pg_revamp .mobile-trigger:before { float:none!important}
	.navbar-collapse.collapse{ padding:0}
	
	.pg_revamp #logo, 
	.pg_revamp #logo img{ max-width:100px;}
		
	.pg_revamp .wrap_header:before{ height: 125px;}
	
	.pg_revamp .journal-menu,
	.pg_revamp .mobile-menu-on-tablet .journal-header-center .journal-menu{ padding:0 5px; margin:0 auto; height:52px!important; border:none; background:none}
	.pg_revamp .journal-menu .mobile-trigger{ background:none}
	
	.pg_revamp .mobile-trigger,
	.pg_revamp .mobile-trigger:before{ color:#303030; font-size:20px!important; line-height:100%; vertical-align:middle}
	.mobile-menu-on-tablet .pg_revamp header .journal-menu .mobile-menu{ display:none!important}
	
	.pg_revamp .journal-menu .nav_other{ margin:0; position:relative; top:-55px;}
	.pg_revamp .journal-menu #searchBlock .btn_search{ border:none}
	.pg_revamp .journal-menu #searchBlock .btn_search .fa, 
	.pg_revamp .journal-menu #searchBlock .button-search .fa, 
	.pg_revamp .journal-menu .nav_other > li > a{  color:#303030!important}
	
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
	.pg_revamp > .container > *{ padding:0}
	.pg_revamp .wrap_header .container{ padding:100px 10px 0; display:flex; align-items: center;}
	.pg_revamp .wrap_header .container > *{ display:block; flex: 1 1 auto!important; width:auto!important; margin:0; text-align:right}
	
	.pg_revamp #logo, 
	.pg_revamp #logo img{ float:none; margin:0;}
	
	.pg_revamp .journal-menu{ border:none; padding:0; margin:0}
	.pg_revamp .journal-menu .list-inline{ display:none}
	
	.pg_revamp .wrap_footer .container, 
	.pg_revamp .wrap_footer #footer{ padding:15px 15px 125px}
	.pg_revamp .wrap_footer::after{ height: 290px; bottom: -10px;}
}

/* Extra small devices (portrait phones, less than 576px) */